{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gestao de Clientes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'person_list_cbv' %}">Listar Clientes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'lista-vendas' %}">Listar Pedidos</a>
            </li>
            <li class="nav-item active">
                <a target="_blank" class="nav-link" href="{% url 'api_fbv' %}">API FBV</a>
            </li>
            <li class="nav-item active">
                <a target="_blank" class="nav-link" href="{% url 'api_cbv' %}">API CBV</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>

        </ul>
    </div>
</nav>